* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: "PT Sans";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-size: 1em;
}


/**
  * Default font sizing, family and weighting 
  */
h1, h2, h3, h4, button {
  font-family: "Open Sans";
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3, input {
  font-size: 1.25em;
}

h3, button {
  font-weight: 600;
}

/**
  * Basic responsive scaling
  */
@media screen and (max-width: 725px) {
  body {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 0.78em;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 300px) {
  body {
    font-size: 0.5em;
  }
}
